---
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div class="page">
    <h1 class="page__header">Xfive Days 2019</h1>
    <a class="cta-button" href="https://www.youtube.com/watch?v=9IUWdiZFRU8&feature=youtu.be">Streaming Now<a>
    <nav>
        <ul class="page__items">
            {% for page in site.pages %}
                {% if page.title != null %}
                    <li class="page__item">
                        <a class="page__link" href="{{ page.url | relative_url }}">{{ page.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
<div>
{% include main-footer.html %}
{% include font-loader.html %}
{% include animated-bg.html %}
</body>
</html>
