.page {
    display: grid;
}

.page__header {
    margin: 2rem calc(var(--spacing-default) * -1) 0;
    padding-bottom: 2rem;
}

.page__header--with-border {
    border-bottom: 1px dashed var(--color-distinct);
}

.page__content {
    margin-bottom: 2rem;
}

.page__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0 calc(var(--spacing-default) * -1);
}

.page__item {
    display: grid;
    border-top: 1px dashed var(--color-distinct);
    height: 25vh;
}

.page__item:nth-child(even) {
    border-left: 1px dashed var(--color-distinct);
}

.page__item:last-child:nth-child(odd) {
    grid-column-end: span 3;
}

.page__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-underline-offset: 1em;
}
