* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    background: var(--color-background);
    font-family: "Victor Mono", "Courier", sans-serif;
    line-height: 1.5;
    padding: var(--spacing-default);
    color: var(--color-neutral);
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--color-distinct);
}

h1::before {
    content: "# ";
}

h2 {
    color: var(--color-distinct);
}

h2::before {
    content: "## ";
}

a {
    color: currentColor;
    text-decoration-style: wavy;
    text-decoration-color: var(--color-distinct);
    text-underline-offset: 0.2em;
}

em,
strong {
    color: var(--color-distinct);
}

em::before,
em::after {
    content: "_";
}

strong::before,
strong::after {
    content: "**";
}
