<!doctype html>
{% if page.lang  %}
    <html lang="{{ page.lang }}">
{% else  %}
    <html lang="en">
{% endif %}
{% include head.html %}
<body>
<div class="page">
    <h1 class="page__header page__header--with-border">{{ page.title }}</h1>
    <a class="cta-button" href="https://www.youtube.com/watch?v=9IUWdiZFRU8&feature=youtu.be">Streaming Now<a>
    <main class="page__content">
        {{ content }}
    </main>
    <a class="back-link" href="{{ site.baseurl }}/">← Show Menu</a>
</div>
{% include main-footer.html %}
{% include font-loader.html %}
</body>
</html>
